body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 16px;
  background-image: url('/assets/bg.jpg');
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: $sunglow;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: $sunglow-light;
}
a:visited {

}

ul {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  background-color: $white;
  border: 1px solid rgba($silver-dark, 0.3);
  padding: 0.5rem;
  border-radius: 5px;
}
input:active {
  outline: none;
}
input:visited {
  outline: none;
}
