$color-main: $azure;
$color-main-dark: $azure-dark;
$color-main-light: $azure-light;

$color-sec: $jade;
$color-sec-dark: $jade-dark;
$color-sec-light: $jade-light;

$shadow: rgba($black-light, 0.3);
$shadow-light: rgba($silver-dark, 0.3);

$shadow-inset: inset 2px 2px 5px $shadow-light;
$shadow-inset-dark: inset 2px 2px 5px $shadow;

$transition-default: 250ms;
$transition-fast: 150ms;

$bezier-bounce: cubic-bezier(.21,1.11,.6,1.15);

$gradient-angle: -5deg;

// globals
$text: $black;
$text-inverted: $white;

// components
$button-color: $cerulean;
$button-light: $cerulean-light;
$button-dark: $cerulean-dark;
$button-bg: linear-gradient($gradient-angle, $cerulean, $cerulean-light);
$button-hover-bg: linear-gradient($gradient-angle, $cerulean, $cerulean-light 70%, $off-white 100%);
$button-sec-color: $mango;
$button-sec-light: $mango-light;
$button-sec-dark: $mango-dark;
$button-sec-bg: linear-gradient($gradient-angle, $mango, $mango-light);
$button-sec-hover-bg: linear-gradient($gradient-angle, $mango, $mango-light 70%, $off-white 100%);

// home
$box-bg: linear-gradient($gradient-angle, $mantis, $mantis-light);;
$box-border: rgba($mantis-dark, 0.2);

// chatroom
$chatroom-bg: linear-gradient($gradient-angle, rgba($sky, 0.7), rgba($sky-light, 0.7));
$chatroom-border: rgba($sky-dark, 0.2);
$chatroom-inset-bg: $white;
$chatroom-inset-border: rgba($black-light, 0.2);
$chat-message-bg-self: $cerulean;
$chat-message-text-self: $white;
$chat-message-bg-other: $white;
$chat-message-text-other: $cerulean;
$chat-message-border: rgba($cerulean-dark, 0.4);
$chat-notice-joined-text: $mantis-dark;
$chat-notice-joined-bg: $mantis-light;
$chat-notice-joined-border: rgba($mantis-dark, 0.4);
$chat-notice-joined-avatar: $mantis-light;
$chat-notice-left-text: $steel-dark;
$chat-notice-left-bg: $steel-light;
$chat-notice-left-border: $steel-dark;
$chat-notice-left-avatar: $steel-light;
$chat-avatar-color: $white;
$chat-send-bg: $cerulean-dark;
