$color-main: $azure;
$color-main-dark: $azure-dark;
$color-main-light: $azure-light;

$color-sec: $jade;
$color-sec-dark: $jade-dark;
$color-sec-light: $jade-light;

$shadow: rgba($black-light, 0.3);

$transition-default: 250ms;
