$color-main: $azure;
$color-main-dark: $azure-dark;
$color-main-light: $azure-light;

$color-sec: $jade;
$color-sec-dark: $jade-dark;
$color-sec-light: $jade-light;

$shadow: rgba($black-light, 0.3);

$transition-default: 250ms;
$transition-chat: 150ms;

$bezier-bounce: cubic-bezier(.21,1.11,.6,1.15);

// globals
$text: $black;
$text-inverted: $white;

// home
$box-bg: linear-gradient(-20deg, $mantis, $mantis-light);;
$box-border: rgba($mantis-dark, 0.2);

// chatroom
$chatroom-bg: rgba($sky-light, 0.3);
$chatroom-border: rgba($sky-dark, 0.2);
$chatroom-inset-bg: $white;
$chatroom-inset-border: rgba($black-light, 0.2);
$chat-message-bg: $blue;
$chat-message-text: $white;
$chat-message-border: $blue-dark;
$chat-message-avatar-bg: $blue-light;
$chat-notice-text: $mantis-dark;
$chat-notice-bg: $mantis-light;
$chat-notice-border: $mantis-dark;
$chat-notice-avatar-bg: $mantis-light;
$chat-avatar-color: $white;
