.margin-bottom {
  margin-bottom: 1rem;
}
.margin-bottom-2x {
  margin-bottom: 2rem;
}

.flex-center {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.display-block {
  display: block;
}
