extends layout

block content
  h1 Chat
  .chatroom
    h2 Chatroom name
    .chatroom__feed
      .chatroom__entry--notice
      .chatroom__entry--message
    .chatroom__form
      .chatroom__form__input
      .chatroom__form__submit
