extends layout

block content
  h1 Fruitbowl
  if user
    .user-dock
      span Logged in as: 
      span= user.username
  .chatroom
    .chatroom__header Chatroom
    .chatroom__info
      span#user-count 0
      - var userCountString = " users online"
      span= userCountString
    ul.chatroom__feed
    form.chatroom__form(id='chatroom-form' action='/chat/send' method='post')
      input.chatroom__form__input
      .chatroom__form__submit
        input(type='submit', value='Send')
