extends layout

block content
  h1.fruitbowl-header fruitbowl
  img.page-logo(src='/assets/watermelon.png')
  if registrationFail
    .notice 
      i.fas.fa-exclamation-circle
      span Oops! That username is taken. Please try another one.
  else if loginFail
    .notice
      i.fas.fa-exclamation-circle
      span Incorrect username or password.
  else
    h2.fruitbowl-subheader join the conversation
  include _register
