extends layout

block content
  h1 Profile
  h2= Username
  .user-stats
    .user-stats__entry
      b Messages submitted: 
      span 10
    .user-stats__entry
      b Last login: 
      span Yesterday
