extends layout

block content
  h1 Profile
  h2= user.username
  .user-stats
    .user-stats__entry
      b Messages submitted: 
      span= user.total_messages
    .user-stats__entry
      b Last login: 
      span= user.last_login.toDateString()
  .links
    a.button(href='/chat') Go to chatroom 
