.user-dock {
  margin: 0 0 1rem;
}
.chat-profile-link {
  background-color: $white;
  padding: 0.4em 0.8em;
  margin-right: 1em;
  box-shadow: 2px 2px 5px $shadow;
  border-radius: 8px;
  transition: $transition-fast;
}

.chat-profile-link:hover {
  box-shadow: 5px 5px 10px $shadow;
}

.chat-profile-link:active {
  box-shadow: none;
  background-color: $white-dark;
}
