.fruitbowl-header {
  color: $text;
  font-family: 'Gamja Flower', serif;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.fruitbowl-subheader {
  font-family: 'Gamja Flower', serif;
  font-size: 1.5rem;
  color: $text;
  margin: 0 0 1rem;
}

.forms-box {
  box-shadow: 10px 10px 20px $shadow;
  border-radius: 15px;
  background: $box-bg;
  border: 3px solid $box-border;
  padding: 2rem;
  .form-row:last-child {
    text-align: right;
  }
  form {
    * {
      margin: 0.25rem;
    }
    *:last-child {
      margin: 0;
    }
  }
  form:first-child {
    margin-bottom: 1.5rem;
  }
}
