.fruitbowl-header {
  position: relative;

  .fruitbowl-header__skin {
    position: relative;
    margin: 0;
    padding: 0;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: repeating-linear-gradient(-20deg, $mantis-dark, $mantis-light 20%, $mantis-dark 40%);
    transform: translate(0, -50%) scaleY(1.3) scaleX(2);
  }
  .fruitbowl-header__shape {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(-20deg, $vermilion, $vermilion-light);
    transform: translate(0, -52%) scaleY(1.2) scaleX(1.95);
  }

  .fruitbowl-header__title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1rem;
    color: $text-inverted;
    margin: 0;
    padding: 0;
    font-family: 'Gamja Flower', serif;
    font-size: 2rem;
    text-align: center;
  }
}

.fruitbowl-subheader {
  font-family: 'Gamja Flower', serif;
  font-size: 1.5rem;
  color: $text;
}

.forms-box {
  box-shadow: 10px 10px 20px $shadow;
  border-radius: 15px;
  background: $box-bg;
  border: 3px solid $box-border;
  padding: 2rem;
  .form-row:last-child {
    text-align: right;
  }
  form {
    * {
      margin: 0.25rem;
    }
    *:last-child {
      margin: 0;
    }
  }
  form:first-child {
    margin-bottom: 1.5rem;
  }
}
