body {
  font-family: 'Roboto', monospace;
  margin: 0;
  padding: 0;
  width: 100vw; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  width: 800px;
  max-width: 96vw;
  min-width: 60vw;
  margin: auto; }

.button {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #4285f4;
  color: #4285f4;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: 250ms; }

.button:hover {
  color: #fafafa;
  background-color: #4285f4;
  box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.3);
  border-color: #0d47a1; }

.button:active {
  box-shadow: none;
  color: #ffffff;
  background-color: #80b4ff; }

.chatroom {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box; }
  .chatroom * {
    box-sizing: border-box; }
  .chatroom > * {
    display: block;
    margin: 0 0 0.5rem 0; }
    .chatroom > *:last-child {
      margin: 0; }
  .chatroom .chatroom__header {
    font-size: 1.4rem;
    padding: 0.5rem; }
  .chatroom .chatroom__info {
    padding: 0.5rem; }
  .chatroom .chatroom__feed {
    height: 400px;
    width: 100%;
    max-height: 90vh;
    min-height: 50vh;
    border: 1px solid #212121;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: right; }
    .chatroom .chatroom__feed .chatroom__post {
      min-width: 60%;
      max-width: 100%;
      margin: 0 0 0.5em 0;
      padding: 0 0.5em;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .chatroom .chatroom__feed .chatroom__post .chatroom__post__text {
        box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.3);
        padding: 0.6em 1.2em;
        flex: 1 1 auto;
        color: #fafafa;
        transform-origin: 100% 90%;
        animation: post-message 150ms cubic-bezier(0.21, 1.11, 0.6, 1.15) 1; }
      .chatroom .chatroom__feed .chatroom__post .chatroom__post__avatar {
        flex: 0 0 3em;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        padding: auto;
        opacity: 0.7; }
        .chatroom .chatroom__feed .chatroom__post .chatroom__post__avatar .chatroom__post__avatar__circle {
          height: 2em;
          width: 2em;
          border-radius: 50%;
          padding: auto;
          box-shadow: 1px 1px 4px rgba(72, 72, 72, 0.3);
          display: flex;
          justify-content: center;
          align-items: center;
          text-shadow: -1px -1px 4px rgba(72, 72, 72, 0.3);
          user-select: none;
          cursor: pointer; }
          .chatroom .chatroom__feed .chatroom__post .chatroom__post__avatar .chatroom__post__avatar__circle b {
            color: #fafafa; }
    .chatroom .chatroom__feed .chatroom__post--notice .chatroom__post__text {
      background-color: #bef67a;
      border: 2px solid rgba(90, 146, 22, 0.2);
      border-radius: 12px;
      color: #5a9216;
      font-weight: bold;
      text-align: center; }
    .chatroom .chatroom__feed .chatroom__post--notice .chatroom__post__avatar__circle {
      background-color: #bef67a; }
    .chatroom .chatroom__feed .chatroom__post--message .chatroom__post__text {
      background-color: #2196F3;
      border: 2px solid rgba(0, 105, 192, 0.2);
      border-radius: 25px;
      color: #fafafa;
      text-align: left; }
    .chatroom .chatroom__feed .chatroom__post--message .chatroom__post__avatar__circle {
      background-color: #6ec6ff; }
  .chatroom .chatroom__form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem; }
    .chatroom .chatroom__form .chatroom__form__input {
      flex: 1 1 auto;
      padding: 0.5rem; }
    .chatroom .chatroom__form .chatroom__form__submit {
      flex: 0 0 5rem;
      display: flex;
      justify-content: flex-end;
      padding-left: 1rem; }
      .chatroom .chatroom__form .chatroom__form__submit input {
        width: 4rem;
        padding: 0.5rem 1rem; }

@keyframes post-message {
  from {
    opacity: 0;
    transform: scale(0.2); }
  to {
    opacity: 1;
    transform: scale(1); } }

.user-dock {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem; }

.margin-bottom {
  margin-bottom: 1rem; }
