body {
  font-family: 'Roboto', monospace;
  margin: 0;
  padding: 0;
  width: 100vw; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  width: 800px;
  max-width: 96vw;
  min-width: 60vw;
  margin: auto; }

.button {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #4285f4;
  color: #4285f4;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: 250ms; }

.button:hover {
  color: #fafafa;
  background-color: #4285f4;
  box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.3);
  border-color: #0d47a1; }

.button:active {
  box-shadow: none;
  color: #ffffff;
  background-color: #80b4ff; }

.chatroom {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box; }
  .chatroom * {
    box-sizing: border-box; }
  .chatroom > * {
    display: block;
    margin: 0 0 0.5rem 0; }
    .chatroom > *:last-child {
      margin: 0; }
  .chatroom .chatroom__header {
    font-size: 1.4rem;
    padding: 0.5rem; }
  .chatroom .chatroom__info {
    padding: 0.5rem; }
  .chatroom .chatroom__feed {
    height: 400px;
    max-height: 90vh;
    min-height: 50vh;
    border: 1px solid gray; }
    .chatroom .chatroom__feed .chatroom__post {
      margin: 0 0.5em 0.5em 0.5em;
      box-shadow: 5px 5px 10px 10px rgba(68, 68, 68, 0.3);
      padding: 1em;
      display: block; }
    .chatroom .chatroom__feed .chatroom__post--notice {
      color: dodgerblue; }
    .chatroom .chatroom__feed .chatroom__post--message {
      color: black; }
  .chatroom .chatroom__form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem; }
    .chatroom .chatroom__form .chatroom__form__input {
      flex: 1 1 auto;
      padding: 0.5rem; }
    .chatroom .chatroom__form .chatroom__form__submit {
      flex: 0 0 5rem;
      display: flex;
      justify-content: flex-end;
      padding-left: 1rem; }
      .chatroom .chatroom__form .chatroom__form__submit input {
        width: 4rem;
        padding: 0.5rem 1rem; }

.user-dock {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem; }

.margin-bottom {
  margin-bottom: 1rem; }
