.button {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid $md-primary;
  color: $md-primary;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: $transition-default;
}

.button:hover {
  color: $white;
  background-color: $md-primary;
  box-shadow: 5px 5px 10px $shadow;
  border-color: $md-primary-dark;
}

.button:active {
  box-shadow: none;
  color: $white-light;
  background-color: $md-primary-light;
  transform-origin: 50% 50%;
}

.button--effect {
  transition-duration: $transition-chat;
  transition-timing-function: $bezier-bounce;
}
.button--effect:hover {
  box-shadow: 2px 2px 5px $shadow;
  transform: translate(-1px, -1px) scale(1.1);
}
.button--effect:active {
  box-shadow: none;
  transform: translate(0,0) scale(1);
}
