.button {
  box-sizing: border-box;
  border-radius: 15px;
  border-width: 0;
  box-shadow: 0 1px 4px $shadow-light;
  font-weight: bold;
  padding: 0.6em 1.2em;
  display: inline-block;
  transition: $transition-default;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:focus,
  &:hover {
    box-shadow: 2px 4px 6px $shadow;
    text-decoration: none;
  }
  &:active {
    box-shadow: $shadow-inset-dark;
    transform-origin: 50% 50%;
  }
}
.button--primary {
  background: $button-bg;
  border-color: rgba($button-dark, 0.3);
  color: $button-dark;
  &:hover {
    color: $button-dark;
    border-color: rgba($button-color, 0.3);
    background: $button-hover-bg;
  }
  &:active {
    color: $button-light;
    background: $button-bg;
    border-color: rgba($button-dark, 0.3);
  }
}
.button--secondary {
  background: $button-sec-bg;
  border-color: rgba($button-sec-color, 0.3);
  color: $button-sec-dark;
  &:hover {
    color: $button-sec-dark;
    border-color: rgba($button-sec-color, 0.3);
    background: $button-sec-hover-bg;
  }
  &:active {
    color: $button-sec-light;
    background: $button-sec-bg;
    border-color: rgba($button-sec-dark, 0.3);
  }
}

.button--effect {
  transition-duration: $transition-fast;
  transition-timing-function: $bezier-bounce;
}
.button--effect:hover {
  box-shadow: 2px 2px 5px $shadow;
  transform: scale(1.1);
}
.button--effect:active {
  box-shadow: none;
  transform: scale(1);
}
