.button {
  box-sizing: border-box;
  border-radius: 15px;
  background: $button-bg;
  border: 2px solid rgba($button-dark, 0.3);
  box-shadow: 0 1px 4px $shadow-light;
  color: $button-dark;
  font-weight: bold;
  padding: 0.6em 1.2em;
  display: inline-block;
  transition: $transition-default;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:focus,
.button:hover {
  color: $button-dark;
  box-shadow: 2px 4px 6px $shadow;
  border-color: rgba($button-color, 0.3);
  background: $button-hover-bg;
  text-decoration: none;
}
.button:active {
  box-shadow: $shadow-inset-dark;
  color: $button-light;
  background: $button-bg;
  transform-origin: 50% 50%;
  border-color: rgba($button-dark, 0.3);
}

.button--effect {
  transition-duration: $transition-fast;
  transition-timing-function: $bezier-bounce;
}
.button--effect:hover {
  box-shadow: 2px 2px 5px $shadow;
  transform: translate(-1px, -1px) scale(1.1);
}
.button--effect:active {
  box-shadow: none;
  transform: translate(0,0) scale(1);
}
