.button {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: $mantis-light;
  border: 2px solid $mantis-dark;
  color: $mantis-dark;
  padding: 0.6em 1.2em;
  display: inline-block;
  transition: $transition-default;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:focus,
.button:hover {
  color: $mantis-dark;
  box-shadow: 5px 5px 10px $shadow;
  border-color: rgba($mantis-dark, 0.5);
}
.button:active {
  box-shadow: none;
  color: $white;
  background-color: $mantis;
  transform-origin: 50% 50%;
  border-color: $white;
}

.button--effect {
  transition-duration: $transition-chat;
  transition-timing-function: $bezier-bounce;
}
.button--effect:hover {
  box-shadow: 2px 2px 5px $shadow;
  transform: translate(-1px, -1px) scale(1.1);
}
.button--effect:active {
  box-shadow: none;
  transform: translate(0,0) scale(1);
}
