
.chatroom {
  width: 100%;
  max-width: 600px;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
  padding: 1rem;
  box-sizing: border-box;
  background: $chatroom-bg;
  border: 2px solid $chatroom-border;
  border-radius: 25px;

  * {
    box-sizing: border-box;
  }

  & > * {
    display: block;
    margin: 0 0 0.5rem 0;
    &:last-child {
      margin: 0;
    }
  }
  .chatroom--inset {
    background-color: $chatroom-inset-bg;
    border: 1px solid $chatroom-inset-border;
    border-radius: 3px;
    box-shadow: $shadow-inset;
  }

  .chatroom__header {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
  .chatroom__info {
    padding: 0.5rem;
  }
  .chatroom__feed {
    flex: 1 1 20rem;
    min-height: 10vh;
    max-height: 40vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    padding-top: 0.5em;
    // justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .chatroom__post {
      margin: 0 0 0.5em 0;
      padding: 0 0.5em;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .chatroom__post__text {
        box-shadow: 5px 5px 10px $shadow;
        padding: 0.6em 1.2em;
        flex: 1 1 auto;
        color: $white;
        transform-origin: 100% 90%;
        animation: post-message $transition-fast $bezier-bounce 1;
      }
      .chatroom__post__avatar {
        flex: 0 0 3em;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        padding: auto;
        opacity: 0.7;
        .chatroom__post__avatar__circle {
          height: 2em;
          width: 2em;
          border-radius: 50%;
          padding: auto;
          box-shadow: 1px 1px 4px $shadow;
          display: flex;
          justify-content: center;
          align-items: center;
          text-shadow: -1px -1px 4px $shadow;
          user-select: none;
          cursor: pointer;
          b {
            color: $chat-avatar-color;
          }
        }
      }
    }
    .chatroom__post--notice {
      .chatroom__post__text {
        background-color: $chat-notice-bg;
        border: 2px solid rgba($chat-notice-border, 0.2);
        border-radius: 12px;
        color: $chat-notice-text;
        font-weight: bold;
        text-align: center;
      }
      .chatroom__post__avatar__circle {
        background-color: $chat-notice-avatar-bg;
      }
    }
    .chatroom__post--message {
      .chatroom__post__text {
        background-color: $chat-message-bg;
        border: 2px solid rgba($chat-message-border, 0.2);
        border-radius: 25px;
        color: $chat-message-text;
        text-align: left;
      }
      .chatroom__post__avatar__circle {
        background-color: transparent;
      }
    }
  }
  .chatroom__form {
    display: flex;
    flex-direction: row;
    width: 100%;
    // margin: 0;
    padding-top: 1rem;

    .chatroom__form__input {
      flex: 1 1 auto;
      padding: 0.5rem;
    }
    .chatroom__form__submit {
      flex: 0 0 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      i {
        border-radius: 50%;
        height: 2em;
        width: 2em;
        margin: auto;
        padding: auto;
        color: $white;
        background-color: $chat-send-bg;
        text-align: center;
        line-height: 2em;
        cursor: pointer;
      }
    }
  }
}

@keyframes post-message {
  from {
    opacity: 0;
    transform: scale(0.2); }
  to {
    opacity: 1;
    transform: scale(1); }
}
