.chatroom {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
  padding: 1rem;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  & > * {
    display: block;
    margin: 0 0 0.5rem 0;
    &:last-child {
      margin: 0;
    }
  }

  .chatroom__header {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
  .chatroom__info {
    padding: 0.5rem;
  }
  .chatroom__feed {
    height: 400px;
    max-height: 90vh;
    min-height: 50vh;
    border: 1px solid gray;

    .chatroom__post {
      margin: 0 0.5em 0.5em 0.5em;
      box-shadow: 5px 5px 10px 10px rgba(#444, 0.3);
      padding: 1em;
      display: block;
    }
    .chatroom__post--notice {
      color: dodgerblue;
    }
    .chatroom__post--message {
      color: black;
    }
  }
  .chatroom__form {
    display: flex;
    flex-direction: row;
    width: 100%;
    // margin: 0;
    padding-top: 1rem;

    .chatroom__form__input {
      flex: 1 1 auto;
      padding: 0.5rem;
    }
    .chatroom__form__submit {
      flex: 0 0 5rem;
      display: flex;
      justify-content: flex-end;
      padding-left: 1rem;
      input {
        width: 4rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}
