
.chatroom {
  width: 100%;
  max-width: 600px;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
  padding: 1rem;
  box-sizing: border-box;
  background: $chatroom-bg;
  border: 2px solid $chatroom-border;
  border-radius: 25px;
  font-size: 0.9rem;

  * {
    box-sizing: border-box;
  }

  & > * {
    display: block;
    margin: 0 0 0.5rem 0;
    &:last-child {
      margin: 0;
    }
  }
  .chatroom--inset {
    background-color: rgba($chatroom-inset-bg, 0.9);
    border: 1px solid $chatroom-inset-border;
    border-radius: 3px;
    box-shadow: $shadow-inset;
  }

  .chatroom__header {
    font-size: 1.4rem;
    font-family: 'Gamja Flower', serif;
    font-size: 1.5rem;
    text-align: center;
  }
  .chatroom__info {
    margin-bottom: 0;
    & > * {
      padding: 0 0.5rem;
    }
    .chatroom__info__users {
      height: 4rem;
      width: 100%;
      margin: 0;
      padding: 0.5rem;
      overflow-x: scroll;
      overflow-y: visible;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      scrollbar-width: 0;
      scrollbar-color: transparent;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
      }
      & > * {
        margin-right: 0.5rem;
      }
      & > *:last-child {
        margin: 0;
      }
      .chatroom__info__users__avatar {
        cursor: pointer;
        transition: $transition-default;
        animation: pop-in $transition-fast $bezier-bounce 1;
        &:hover {
          transform: scale(1.1);
          box-shadow: 2px 4px 6px $shadow;
        }
        &:active {
          transform: none;
          box-shadow: none;
        }
      }
    }
  }
  .chatroom__feed {
    flex: 1 1 20rem;
    min-height: 10vh;
    max-height: 40vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    padding: 0.5em;
    // justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    scrollbar-width: 0;
    scrollbar-color: transparent;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }

    .chatroom__post {
      margin: 0 0 0.5em 0;
      padding: 0 0.5em;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .chatroom__post__text {
        box-shadow: 5px 5px 10px $shadow;
        padding: 0.6em 1.2em;
        flex: 1 1 auto;
        color: $white;
        transform-origin: 100% 90%;
        animation: pop-in $transition-fast $bezier-bounce 1;
      }
      .chatroom__post__avatar {
        flex: 0 0 3em;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        padding: auto;
        opacity: 0.7;
        i {
          color: $white;
        }
        .chatroom__post__avatar__circle {
          height: 2em;
          width: 2em;
          border-radius: 50%;
          padding: auto;
          box-shadow: 1px 1px 4px $shadow;
          display: flex;
          justify-content: center;
          align-items: center;
          text-shadow: -1px -1px 4px $shadow;
          user-select: none;
          cursor: pointer;
          transition: $transition-default;
          &:hover {
            transform: scale(1.1);
            box-shadow: 2px 4px 6px $shadow;
          }
          &:active {
            box-shadow: none;
          }
        }
      }
    }
    .chatroom__post--notice {
      .chatroom__post__text {
        border-radius: 12px;
        font-weight: bold;
        text-align: center;
      }
      .chatroom__post__avatar__circle {
        i {
          text-align: center;
          line-height: 2em;
          color: $white;
          text-shadow: inset -1px -1px 4px $shadow;
        }
      }
    }
    .chatroom__post--notice--joined {
      .chatroom__post__text {
        background-color: $chat-notice-joined-bg;
        border: 2px solid $chat-notice-joined-border;
        color: $chat-notice-joined-text;
      }
      .chatroom__post__avatar__circle {
        background-color: $chat-notice-joined-avatar;
      }
    }
    .chatroom__post--notice--left {
      .chatroom__post__text {
        background-color: $chat-notice-left-bg;
        border: 2px solid rgba($chat-notice-left-border, 0.2);
        color: $chat-notice-left-text;
      }
      .chatroom__post__avatar__circle {
        background-color: $chat-notice-left-avatar;
      }
    }
    .chatroom__post--message {
      .chatroom__post__text {
        border-radius: 25px;
        text-align: left;
        border: 2px solid $chat-message-border;
      }
      .chatroom__post__text--self {
        color: $chat-message-text-self;
        background-color: $chat-message-bg-self;
      }
      .chatroom__post__text--other {
        color: $chat-message-text-other;
        background-color: $chat-message-bg-other;
      }
      .chatroom__post__avatar__circle {
        background-color: transparent;
      }
    }
  }
  .chatroom__form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 5% 0 5%;

    .chatroom__form__input {
      flex: 1 1 auto;
      padding: 0.5rem;
    }
    .chatroom__form__submit {
      flex: 0 0 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      i {
        border-radius: 50%;
        height: 2em;
        width: 2em;
        margin: auto;
        padding: auto;
        color: $white;
        background-color: $chat-send-bg;
        text-align: center;
        line-height: 2em;
        cursor: pointer;
      }
    }
  }
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: scale(0.2); }
  to {
    opacity: 1;
    transform: scale(1); }
}
